<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Videojátékok App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <header>
        <h1>Főoldal</h1>
    </header>

    <main>
        <p>Üdvözöllek a Főoldalon!</p>

        <a href="/fejlesztok/list" class="btn">Fejlesztők megtekintése</a>

        <a href="/jatekok/list" class="btn">Videojátékok megtekintése</a>
    </main>

    <footer>
        <p>&copy; 2025 </p>
    </footer>
</div>
</body>
</html>